html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 244, 247);
  font-family: Roboto, sans-serif;
}

.site-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.logo a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #222;
  font-weight: 600;
}

.site-nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #444;
  font-size: 1rem;
}

.site-nav a:hover {
  color: #000;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* p5 styling*/

canvas {
  display: block;
  border: 5px solid black;
  width: 400px;
  height: 600px;
}

img {
  opacity: 100;
}

p {
  color: black;
  font-size: 20px;
  text-align: left;
  /* background-color:  */
  width: 400px;
  height: 100px;
}

h1 {
  color: red;
}

.red_text {
  color: red;
  background-color: rgb(112, 147, 112);
  height: 400px;
  text-align: center;
}

#green_text {
  color: green;
}

#linkBox {
  width: 2000px;
  height: 200px;
  background-color: yellow;
  font-size: 20px;
}
