html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  /* font-family: Roboto, sans-serif; */
  font-family: "Avenir Next", "Segoe UI", Roboto, sans-serif;
}

.site-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #edfad2;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.logo a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #222;
  font-weight: 600;
}

.site-nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #444;
  font-size: 1rem;
}

.site-nav a:hover {
  color: #000;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* p5 styling*/

canvas {
  display: block;
  border: 5px solid black;
  width: 400px;
  height: 600px;
}

img {
  opacity: 100;
}

p {
  color: black;
  font-size: 20px;
  text-align: left;
  /* background-color:  */
  width: 400px;
  height: 100px;
}

h1 {
  color: rgb(24, 23, 23);
}

.home-page {
  text-align: center;
  margin-top: 100px;
  padding: 0 20px;
}

.intro-title {
  /* font-family: "Avenir Next", sans-serif; */
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: #222;
}

.home-intro {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  /* align-self: auto; */
  font-family: "Avenir Next", "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  color: #cf2273;
}

.quicklinks {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.quicklink-button {
  padding: 16px 24px;
  border-radius: 12px;
  background: #f3f3f3;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  transition: 0.2s ease;
}

.quicklink-button:hover {
  background: #e5e5e5;
  transform: translateY(-3px);
}

.pfp {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
