html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 126, 207);
  font-family: Roboto;
  /*filter: blur(5px);*/
}
canvas {
  display: block;
  border: 5px solid black;
  width: 400px;
  height: 600px;
}

img{
  opacity: 100;
}

p{
  color:blueviolet;
  font-size: 20px;
  text-align: center;
  background-color: antiquewhite;
  width: 400px;
  height: 100pdx;
}
h1{
  color:red;
}

.red_text{
  color:red;
  background-color:rgb(112, 147, 112);
  height: 400px;
  text-align: center;
  /* justify-content: center; */
}

#green_text{
  color:green;
}

#linkBox{
  width: 2000px;
  height: 200;
  background-color: yellow;
  font-size: 20px;
}